@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box

}

  @import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lobster+Two&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Staatliches&display=swap');


p, legend, label, input {
    color: #141414;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(324deg, #E5E980 0%, #7EB6FF 100%);
}

header,main,footer {
    border-radius: 2px;
}
/* CABEÇALHO */
header {
    margin: 35px auto 0px auto;
    max-width: 600px;
    border-top: 10px solid #C3C66C;
    padding: 15px;
    box-shadow: #0303032e 0px 3px 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 150px;
    align-items: baseline;
    border-radius: 8px;
  
}

.cabecalho h1 {
    font-family: 'Poppins', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.259) 0px 1px;
    color: #011F47;
    letter-spacing: -1px;
}


header p {
    text-indent: 1.5%;
    margin-top: 15px;
    line-height: 1.24em;
    margin-left: 10px;
    grid-row: 2;
    grid-column: 1 /-1;
    z-index: 0;
    letter-spacing: 0.6px;

}



.cabecalho-menu-icoes-img {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.add-icone {
    transition:transform 1s;

}


/* animações do menu */
.menu-dropDown {
    display: none;
    
}

.menu-dropDown-ativo {
    display: block;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    grid-column: 2 /-1;
    grid-row: 2;
    z-index: 2;
    transition: margin-bottom 2s;
    
}



.menu-ativo {
    transition:transform 1s;
    transform: rotate(-45deg); /* melhorar por que nao gira na volta */ 
}


.menu-dropDown-ativo ul {
    background-color: #d0e5ff;
    box-shadow: #03030343 0px 2px 5px;
    text-align: left;
    border-radius: 5px;
    border: #00224c3f solid 1px;
    
    
}

.menu-dropDown-ativo li {
    list-style-type: none;
    color: #011F47;
    padding:5px;
    font-size: 15px;
    
}

.menu-dropDown-ativo li a {
    color: #011F47;
}


.paragrafo-ativo {
    z-index: 0;
    
}

/* hover */
.add-icone:hover,.dark-icone:hover {
    background-color: #c9cc72ab;
    border-radius: 50%;
}

.menu-dropDown-ativo li:hover {
    background-color: #c9cc72d8;
    font-weight: 600;
}
/* MAIN */

main {
    margin: 30px auto 0px auto;
    max-width: 600px;
    padding: 25px;
    background-color: white;
    box-shadow: #0303032e 0px 3px 5px;
    border-radius: 8px;
  
    
}

input,option,select {
    display: block;
    border: #011F47 solid 1px;
    border-radius: 3px;
    padding: 7px 25px;
    margin: 5px 0px 15px 0px;
    background-color: #f4f4f4;
 
}

#iemail,#inome{
    width: 225px;
    height: 30px;
    padding: 5px 10px 5px 10px;
}

label, legend {
    color: #00224c ;
    font-weight: 600;
    display: block;
    padding-bottom: 5px;
}

/* FORMULARIOS */

/* sexo */
.form-sexo {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    padding: 3px;
    align-items: baseline; 
}

.form-sexo-conteiner {
    display: flex;
    gap: 10px;
}

.form-sexo div input {
    margin: 0px
}

/* demaais forms */

.form-horario-conteiner{
    margin-top: 25px;
}
.form-role,.form-regiao,.form-din,.form-horario {
    display: flex;
    align-items: baseline;
    gap: 8px;
    
}

.form-role label,.form-din label,.form-regiao label,.form-sexo label,.form-horario label{
    order: 1;
    font-weight: 500;
}


.form-din-legend,.form-regiao-legend,.form-role-legend {
    margin: 25px 0px 0px 0px;
}


.btn-submit {
    background-color:#9ea02e;
    color: white;
    padding: 8px 18px;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.277) 0px 1px 3px 1px;
    border: #9ea02e;
}

.btn-submit:hover {
    background-color: #b9bb40;
    
}
footer {
    background-color:#a8aa28;
    margin-top: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
}


footer img {
    margin: 0 auto;
   
}


footer a {
    color: white;
    font-weight: 600;
    font-size: 0.8em;
    margin: 5px 5px 0px 5px;
    padding: 3px 3px 0px 3px;
    font-family: 'Roboto', sans-serif;

}

footer a:hover {
    text-decoration: underline;
    padding: 3px 3px 0px 3px;
}


/* ANIMAÇOES COM JAVASCRIPT */
.ativo {
    box-shadow: 0px 0px 1px 1.7px #C3C66C;
    
}

textarea:focus, input:focus {
    border: none;
    outline: none;
}

/* DROPDOWN */


/* DARKMODE */
.dark-mode-header-on {
    background-color: #00224c;
    border-top: 10px solid #c9cc72;


}

.dark-mode-header-on h1,.dark-mode-header-on p,.dark-mode-header-on span,.dark-mode-header-on li{
    color: white;
}


.dark-mode-main-on {
    background-color: #00224c;
    
}

.dark-mode-main-on footer {
    background: #0E3E7D;
}


.dark-mode-main-on h1,.dark-mode-main-on p,.dark-mode-main-on legend,.dark-mode-main-on label{
    color: white;
}


.dark-mode-body-on .menu-dropDown-ativo ul {
    background: #699cde;
}
.dark-mode-main-on .btn-submit {
    background: #1654a0;
    color: white;
    font-weight: 600;

}

.dark-mode-main-on .btn-submit:hover {
    background: #3476c8;
}
.dark-mode-body-on {
    background: linear-gradient(322deg, #548DD7 0%, #013476 99.99%, #004BAD 100%);
}

.dark-mode-body-on footer {
    background: #0E3E7D;
}


/* Media query */

@media (max-width:600px) {
    header,main {
        margin: 20px;
    }

}
